/* NavigationStyles.css */

nav {
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}

h2 {
  margin: 0;
}

a {
  text-decoration: none;
  color: lightgreen;
  background-color: white;
  border: 1px solid black;
  padding: 10px;
  display: block;
  transition: background-color 0.3s, color 0.3s;
}

a:hover {
  background-color: limeyellow;
  color: black;
}